* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(161, 26%, 81%);
}
.container {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    margin: 80px auto;
    border-radius: 20px;
    background-color: rgb(211, 193, 228);

}
.title {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 45px;
    margin-top: 15px;
    border-bottom: 2px solid white;
}

#display{
    width: 300px;
    height: 40px;
    font-size: 20px ;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 20px ;
}
.nums > button {
    width: 45px;
    height: 45px;
    margin: 11px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    background-color: rgb(151, 142, 155);
    transition: 0.5s ease-out;
}

.nums > button:hover {
    background-color: rgb(240, 236, 230);

}